* {
	margin: 0px;
}
body {
	height: 100%;

}
a {
	color:black;
}
h3 {
	font-size: 20pt;
	text-indent: 0px;
	text-align: center;
	font-weight: 400;
}

h4 {
	text-decoration: underline;
	font-weight: 100;
}
p {
	margin: 0;
}

blockquote {
	font-style: italic;
	text-indent: 0px;
	margin: 25px;
}

.headerOne {
	position: fixed;
	height: 30px;
	margin: 0px;
	width: 67%;
	background-color: black;
	font-family: 'barlow';
	color: white;
}

.headerTwo {
	position: fixed;
	height: 30px;
	width: 33%;
	margin-left: 67%;
	background-color: #d8d8d8;
	font-family: 'barlow';


}
.headerOne > p, .headerTwo > p {
	margin-left: 4px;
	margin-top: 4px;
}


.intro {
/*	position: absolute;*/
	width: 100%;
	height: 800px;
	font-family: 'barlow';
	font-weight: 400;
	line-height: 2;
	margin-bottom: 100px;

}

.intro > img {
	margin: auto;
	display: flex;
	align-items:center;
}




.maintext {
	float: left;
	font-family: 'alegreya', sans-serif;

	font-size: 16pt;
	width: 46%;
	text-align: justify;
	line-height: 1.5;
	text-indent: 30px;
	margin-left: 4%;
}




.examples {
	display: inline-block;	
	width: 100%;
	font-family: 'barlow';
	letter-spacing: 0.3px;
	line-height: 1.3;
}

.examples > div {
	width: 30%;
	display: inline-block;
	float: left;
	padding: 10px;
}

.examples > div > img {
	width: 100%;
}
.secondText {
	float: left;
	display: inline-block;
	width: 44%;
	margin-left: 4%;
	margin-top: 123px;
}

.secondText > img {
	width: 100%;
	padding: 8px;
}

.secondText > p, h4 {
	width: 70%;
	margin-left: 12%;
	float: right;
	font-family: 'barlow';
	letter-spacing: 0.8px;
	line-height: 1.3;
	text-indent: 20px;
}

.secondText > blockquote {
	width: 60%;
	margin-left: 12%;
	float: right;
	font-family: 'barlow';
	letter-spacing: 0.8px;
	line-height: 1.3;
	text-indent: 20px;
}
.secondText > p > img {
	width: 100%;
}

.secondImage {
	width: 70%;
	margin-left: 12%;
	float: right;
}

}
.note {
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
	max-width: 60%;
	font-family: 'barlow';
	font-size: 10pt;

}

#first {
	text-indent: 0px;
}

@media print {
	.headerOne, .headerTwo {
		display: none;
	}
}


